.page {
  margin: 0;
  padding: 0;
}

.page__container {
  width: 95%;
  @media (max-width: 768px) {
    width: calc(100% - 30px);
  }
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}