%reset-list-style {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

%link {
  text-decoration: none;
  color: inherit;
}

%section__heading {
  margin-top: 47px;
  margin-bottom: 24px;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  @media (max-width: 768px) {
    font-size: 14px;
  }
  line-height: 1.37em;
  color: #4E4E4E;
  position: relative;
  padding-left: 10px;
  &::before {
    content: "-";
    display: block;
    position: absolute;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.37em;
    color: #4E4E4E;
    left: 0;
    bottom: 2px;
  }
}

%reset-margin{
  margin: 0;
}