body {
    font-family: 'Ubuntu', sans-serif;
}

.wrapper {
    background-image: url("../images/bcg.png");
    background-size: cover;
    min-height: 100vh;
}

/* ================================= */

.page-header {
    height: 58px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    margin-left: 61px;
    margin-right: auto;
    justify-self: flex-start;

    z-index: 10;
}

.logo h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 18px;
    transition: 1.5s;
}

.logo:hover h1 {
    color: #236D47;
}

.icon, .icon svg {
    display: block;
    z-index: 10;

}

.icon:nth-child(2),
.icon:nth-child(3) {
    transform: translateY(1px);
    margin-right: 25px;
}

.icon:nth-child(4) {
    transform: translateY(2px);
}

.icon svg path {
    transition: 1.5s;
}

.icon:hover svg path {
    fill: #236D47;
}

.welcome {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 14px;
    font-style: normal;
    font-weight: 400;
    margin-right: 79px;
    z-index: 10;
}

.welcome .link {
    padding: 10px 0;
    transition: 1.5s;
}

.welcome::before {
    content: "";
    margin-right: 27px;
    margin-left: 27px;
    width: 1px;
    height: 19px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.9);
    transform: translateY(4px);

}

.welcome .link:hover {
    color: #236D47;
}

/* ================================= */

.page-main-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.page-main {
    margin-top: 58px;
    width: 444px;
    height: 584px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
    position: relative;
}

.page-main::before {
    content: "";
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    display: block;
    position: absolute;
    top: 29px;
}

.title {
    display: flex;
    justify-content: space-between;
    margin-top: 31px;
    margin-left: 60px;
    margin-right: 60px;
    align-items: flex-end
}

.sign-up {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}

.log-in {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    transition: 1.5s;
    text-decoration: underline;
    text-decoration-color: transparent;
}

.log-in:hover {
    /*text-decoration: underline;*/
    text-decoration-color: #3CB878;
    /*border-bottom: 1px solid #3CB878;*/
    transition: 1.5s;
}

.social {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.social .facebook, .social .google {
    width: 160px;
    height: 48px;
    border-radius: 3px;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
}

.social .facebook::after, .social .google::after {
    content: "";
    display: block;
    position: absolute;
    height: 28px;
    width: 1px;
    background-color: #0A162F;
    opacity: 0.1;
    bottom: 10px;
    left: 48px;
}

.social .facebook {
    margin-left: 60px;
    background-color: #305DB8;
    padding-left: 16px;
    padding-right: 22px;
    transition: 1.5s;
}

.social .facebook:hover {
    background-color: #022263;
    transition: 1.5s;
}

.social .google {
    margin-right: 60px;
    background-color: #DF4A32;
    padding-left: 12px;
    padding-right: 27px;
    transition: 1.5s;
}

.social .google:hover {
    background-color: #AB1F09;
    transition: 1.5s;
}

.or {
    margin-top: 31px;
    text-align: center;
    position: relative;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
}

.or::before {
    content: "";
    display: block;
    height: 1px;
    width: 150px;
    position: absolute;
    left: 60px;
    top: 7px;
    background-color: #F2F2F2;
}

.or::after {
    content: "";
    display: block;
    height: 1px;
    width: 150px;
    position: absolute;
    right: 60px;
    top: 7px;
    background-color: #F2F2F2;
}

.input-field {
    margin-left: auto;
    margin-right: auto;
    width: 344px;
}

.input-field > label {
    display: block;
}

.input-field > label:first-child {
    margin-top: 12px;
}

.input-field > label:nth-child(2),
.input-field > label:nth-child(3),
.input-field > label:nth-child(4),
.input-field > label:nth-child(5) {
    margin-top: 16px;
}

.input-field > label:nth-child(5) {
    margin-bottom: 12px;
}

.text-input {
    box-sizing: border-box;
    width: 344px;
    height: 44px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding: 0 20px;
    transition: .5s;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
}

.text-input:focus {
    padding-left: 15px;
    border: 1px solid transparent;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    outline: 0;
    outline-offset: 0;
}

.text-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #BEBEBE;
    transition: .5s;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

.text-input::-moz-placeholder { /* Firefox 19+ */
    color: #BEBEBE;
    transition: .5s;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

.text-input:-ms-input-placeholder { /* IE 10+ */
    color: #BEBEBE;
    transition: .5s;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

.text-input:-moz-placeholder { /* Firefox 18- */
    color: #BEBEBE;
    transition: .5s;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

.text-input:focus::-webkit-input-placeholder {
    transition: .5s;
    color: transparent;
}

.text-input:focus::-moz-placeholder {
    transition: .5s;
    color: transparent;
}

.text-input:focus:-ms-input-placeholder {
    transition: .5s;
    color: transparent;
}

.text-input:focus:-moz-placeholder {
    transition: .5s;
    color: transparent;
}

.agree-label {
    position: relative;
    padding-left: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #434343;
    margin-bottom: 20px;
}

.agree-checkbox {
    visibility: hidden;
}

.agree-checkbox:checked::before,
.agree-checkbox:not(:checked)::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #F2F2F2;
    background-color: rgba(0, 0, 0, 0.0001);
    visibility: visible;
}

.agree-checkbox:checked::after,
.agree-checkbox:not(:checked)::after {
    content: "";
    position: absolute;
    transition: 0.5s;
    left: 3px;
    top: 4px;
    width: 14px;
    height: 6px;
    border-radius: 1px;
    border-left: 2px solid #3CB878;
    border-bottom: 2px solid #3CB878;
    transform: rotate(305deg) skew(-15deg) translate(-1px);
    visibility: visible;
}

.agree-checkbox:checked::after {
    opacity: 1;
}

.agree-checkbox:not(:checked)::after {
    opacity: 0;
}

.agree-label .link {
    color: #3CB878;
    transition: 1.5s;
    text-decoration: underline;
    text-decoration-color: transparent;
}

.agree-label .link:hover {
    color: #01813F;
    text-decoration-color: #3CB878;
    transition: 1.5s;
}

.submit-button {
    width: 100%;
    height: 48px;
    background-color: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border-color: transparent;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;

    transition: 1.5s;

    margin-bottom: 38px;
}

.submit-button:hover {
    background-color: #01813F;
    cursor: pointer;
}
