html, body, main, h1, h2, p {
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

main {
    transform: perspective(2000px) rotate3d(1, 0, 0, 70deg);
    position: relative;
    display: flex;
    justify-content: center;
}

.container{
    font-family: 'News Cycle', sans-serif;
    font-weight: 700;
    font-size: 3vh;
    line-height: 6vh;
    color: #FBCF00;
    /*padding: 0 5vw;*/
    /*transition:  30s;*/
    position: absolute;
    /*top: 50vh;*/
    max-width: 1080px;
    width: 40vw;
    animation: 30s linear infinite anime;
    /*top: 100vh;*/

}

main:hover .container {
    /*top: -8000px;*/
}

h1, h2 {
    text-align: center;
    margin-bottom: 10vh;
}

p{
    margin-bottom: 10vh;
}

@keyframes anime {
    from {
        top: 140vh;
    } to {
         top: -100vh;
          }
}

audio{
    position: absolute;
    bottom: 0;
    width: 100%;
}