.container {
    max-width: 1280px;
    margin: 0 auto;
}

.roboto-font {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.link {
    text-decoration: none;
    color: inherit;
    transition: 1s;
}

.list-items {
    list-style-type: none;
}

.header {
    margin-bottom: 48px;
}

.header--title {
    color: #000000;
    font-size: 80px;
    line-height: 94px;
    padding-top: 63px;
    padding-bottom: 38px;
    margin: 0;
}

.header--title--accent {
    color: #4bcaff;
}

.header--nav {
    background-color: #35444F;
}

.header--nav--menu {
    padding: 0;
    margin: 0 133px 0 162px;
    display: flex;
    justify-content: flex-start;
}

.header--nav--menu--item {
    height: 72px;
    font-size: 24px;
    line-height: 28px;
    flex-grow: 1;
    text-align: center;
    color: #fff;
}

.header--nav--menu--item > .link {
    display: block;
    padding-top: 22px;
    padding-bottom: 22px;
    border-left: 1px solid white;
}

.header--nav--menu--item:last-of-type > .link {
    border-right: 1px solid white;
}

.header--nav--menu--item > .link:hover {
    background-color: #222F3A;
}

.sidebar--nav--menu {
    margin: 0;
    padding: 0;
}

.main-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 54px;
}

.sidebar {
    flex-basis: 344px;
}

.sidebar--nav--menu {
    border: 1px solid #000;
}

.sidebar--nav--menu--item {
    color: #485863;
    font-size: 27px;
    line-height: 27px;
}

.sidebar--nav--menu--item > .link {
    display: block;
    padding-left: 44px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.sidebar--nav--menu--item > .link:hover {
    background-color: #DBDBDB;
    padding-left: 76px;
    color: #35444F;

}

.main-content {
    flex-basis: 885px;
}

.main-content--image-container {
    border: 1px solid #000;
    margin-bottom: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 885px;
    height: 529px;
}

.main-content--article--image {
    /*margin: 75px 268px 73px 297px;*/
    transition: 2s;
}

.main-content--image-container:hover > .main-content--article--image {
    transform: scale(1.15);
    transition: 2s;
}

.main-content--text {
    margin-top: 34px;
    margin-bottom: 0;
    color: #2C2C2C;
    font-size: 18px;
    line-height: 24px;
}

.footer > .container {
    display: flex;
    justify-content: space-between;
    background-color: rgba(99, 105, 110, 0.48);
    margin-bottom: 30px;
    padding: 0 40px;
}

.footer-nav--menu {
    margin: 0;
    padding: 0;
    display: flex;
}

.footer-nav--menu--item {
    justify-content: space-between;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 20px;
    font-size: 28px;
    line-height: 28px;
}

.footer-nav--menu--item:hover {
    color: #3181A6;
    padding-bottom: 7px;
    border-bottom: 1px solid #3181A6;
}

.footer--copyright {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 23px;
    margin-top: 23px;
}