#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: white;
    transition: 1.5s;
}

label {
    padding: 15px;
    border: solid 2px;
    border-radius: 15px;
    background-color: white;
    transition: 1.5s;
}

input {
    margin-left: 40px;
    border-radius: 5px;
}

span {
    border: solid 1px;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: white;
    visibility: hidden;
}

.closeButton {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-radius: 50%;
    position: relative;
}

.closeButton::after {
    display: block;
    content: "";
    width: 15px;
    height: 1px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.closeButton::before {
    display: block;
    content: "";
    width: 15px;
    height: 1px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.errorElem {
    padding: 10px;
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    visibility: hidden;
}