.grid-container{
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 400px));
    /*grid-template-rows: repeat(3, 100px);*/
    grid-auto-rows: 100px;
}
.grid-element{
    font-size: 30px;
    font-weight: 700;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #b6b1d6;
    border: 1px solid #000000;
}
