/*body {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

/*.section {*/
/*    width: 1280px;*/
/*    margin: 0 auto;*/
/*    font-family: Montserrat, sans-serif;*/
/*    font-weight: 400;*/
/*}*/

/*@media (max-width: 1280px) {*/
/*    .section {*/
/*        width: 100%;*/
/*    }*/
/*}*/

/*.full-width {*/
/*    width: 100%;*/
/*}*/

/*.align-center {*/
/*    margin: 0 auto;*/
/*    text-align: center;*/
/*}*/

/*.uppercase {*/
/*    text-transform: uppercase;*/
/*    font-weight: 700;*/
/*}*/

/*.no-underlines a, .no-underlines {*/
/*    text-decoration: none;*/
/*}*/

/*.menu {*/
/*    width: 57.5%;*/
/*    list-style-type: none;*/
/*    font-size: 18px;*/
/*    line-height: 18px;*/
/*    letter-spacing: 2.7px;*/
/*    padding: 0;*/
/*}*/

/*@media (max-width: 1280px) {*/
/*    .menu {*/
/*        font-size: 1.41vw;*/
/*        line-height: 1.41vw;*/
/*        letter-spacing: 0.21vw;*/
/*    }*/
/*}*/

/*.menu--item {*/
/*    display: inline-block;*/
/*    text-align: center;*/
/*    width: 25%;*/
/*    transition: 1.5s;*/
/*}*/

/*.menu--item:hover {*/
/*    background-color: rgba(192, 182, 227, 0.75);*/
/*}*/

/*.menu--item > a {*/
/*    display: block;*/
/*    padding: 25.5px 0;*/
/*}*/

/*@media (max-width: 1280px) {*/
/*    .menu--item > a {*/
/*        padding: 1.99vw 0;*/
/*    }*/
/*}*/

/*.menu--item > a:link, .menu--item > a:visited, .menu--item > a:hover, .menu--item > a:active {*/
/*    color: #FF0000;*/
/*}*/

/*.page--title {*/
/*    font-size: 22px;*/
/*    line-height: 26.82px;*/
/*    letter-spacing: 3.3px;*/
/*    padding: 48px 0 38px 0;*/
/*}*/

/*@media (max-width: 1280px) {*/
/*    .page--title {*/
/*        font-size: 1.72vw;*/
/*        line-height: 2.09vw;*/
/*        padding: 3.75vw 0 2.97vw 0;*/
/*        letter-spacing: 0.26vw;*/
/*    }*/
/*}*/

/*.article--text {*/
/*    width: 89.45%;*/
/*    margin-bottom: 28px;*/
/*    letter-spacing: 2.4px;*/
/*}*/

/*@media (max-width: 1280px) {*/
/*    .article--text {*/
/*        margin-bottom: 2.19vw;*/
/*        letter-spacing: 0.19vw;*/
/*    }*/
/*}*/

/*.article--button {*/
/*    display: block;*/
/*    background-color: #FF0000;*/
/*    color: white;*/
/*    margin-top: 66px;*/
/*    border-radius: 4px;*/
/*    padding: 18px 0;*/
/*    width: 191px;*/
/*    font-size: 12px;*/
/*    line-height: 12px;*/
/*    letter-spacing: 1.8px;*/
/*    transition: 1.5s;*/
/*}*/
/*.article--button:link, .article--button:visited, .article--button:active{*/
/*    color: white;*/
/*}*/
/*.article--button:hover{*/
/*    background-color: rgba(192, 182, 227, 0.75);*/
/*    color: #FF0000;*/
/*}*/
/*@media (max-width: 1280px)*/
/*{.article--button {*/
/*    margin-top: 5.16vw;*/
/*    border-radius: 0.31vw;*/
/*    padding: 1.41vw 0;*/
/*    width: 14.92vw;*/
/*    font-size: 0.94vw;*/
/*    line-height: 0.94vw;*/
/*    letter-spacing: 0.14vw;*/
/*}}*/

/*.copyright{*/
/*    font-weight: 700;*/
/*    text-align: right;*/
/*    letter-spacing: 2.4px;*/
/*    margin: 82px 105px 29px 0;*/
/*}*/
/*@media (max-width: 1280px)*/
/*{.copyright {*/
/*    margin: 6.41vw 8.2vw 2.27vw 0;*/
/*    letter-spacing: 0.19vw;*/
/*}}*/

body {
    margin: 0;
    padding: 0;
}

.section {
    width: 100%;
    margin: 0 auto;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
}

.full-width {
    width: 100%;
}

.align-center {
    margin: 0 auto;
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
    font-weight: 700;
}

.no-underlines a, .no-underlines {
    text-decoration: none;
}

.menu {
    width: 57.5%;
    list-style-type: none;
    padding: 0;
    font-size: 1.41vw;
    line-height: 1.41vw;
    letter-spacing: 0.21vw;
}

.menu--item {
    display: inline-block;
    text-align: center;
    width: 25%;
    transition: 1.5s;
}

.menu--item:hover {
    background-color: rgba(192, 182, 227, 0.75);
}

.menu--item > a {
    display: block;
    padding: 1.99vw 0;
}

.menu--item > a:link, .menu--item > a:visited, .menu--item > a:hover, .menu--item > a:active {
    color: #FF0000;
}

.page--title {
    font-size: 1.72vw;
    line-height: 2.09vw;
    padding: 3.75vw 0 2.97vw 0;
    letter-spacing: 0.26vw;
}

.article--text {
    width: 89.45%;
    margin-bottom: 2.19vw;
    letter-spacing: 0.19vw;
}


.article--button {
    display: block;
    background-color: #FF0000;
    color: white;
    transition: 1.5s;
    margin-top: 5.16vw;
    border-radius: 0.31vw;
    padding: 1.41vw 0;
    width: 14.92vw;
    font-size: 0.94vw;
    line-height: 0.94vw;
    letter-spacing: 0.14vw;
}

.article--button:link, .article--button:visited, .article--button:active {
    color: white;
}

.article--button:hover {
    background-color: rgba(192, 182, 227, 0.75);
    color: #FF0000;
}

.copyright {
    font-weight: 700;
    text-align: right;
    margin: 6.41vw 8.2vw 2.27vw 0;
    letter-spacing: 0.19vw;
}