.page__body {
    font-family: sans-serif;
}
.container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.banner {
    background-image: url(../images/banner-img.jpg);
    background-size: cover;

    padding: 528px 224px 133px;

    color: #fff;
}
.banner-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    margin-bottom: 16px;
    margin-top: 0;
}
.banner-description {
    font-size: 18px;
    line-height: 22px;
    margin-top: 0;
    margin-bottom: 22px;
}
.banner-slogan {
    text-transform: uppercase;
    font-size: 54px;
    line-height: 66px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;

    border: 1px solid #fff;
    padding: 38px 31px;
    background-color: rgba(0, 0, 0, 0.3);

    display: inline-block;
}
.banner-slogan span {
    margin-right: 52px;
}
.accent-color {
    color: #f48e0b;
}

.logo {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 28px;
    color: #f1b128;
}

.navigation {
    padding-top: 32px;
    padding-bottom: 32px;
    border-bottom: 3px solid #f1b128;
}

.menu {
    margin-left: 147px;
    display: inline;
}

.menu__item {
    display: inline;
    margin-left: 69px;
}

.menu__link {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 22px;
    color: #3d3d3d;
}

.menu__link--active {
    color: #f1b128;
}
