html, body{
    /*height: 100%;*/
}

.container{
    background-color: orange;
    width: 80%;
    height: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.item{
    background-color: aquamarine;
    border: 1px solid saddlebrown;
    height:50px;
    padding: 5%;
    margin: 10px;
    font-size: 36px;
    flex-basis: 1;
    text-align: center;
}

.first{
    height: 400px;
    width: 72%;
}



.container :not(.first) {
    width: 5%;
}