h1 {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    min-height: 100vh;

    background-image: url("../images/background 1.png");
    background-size: cover;

    font-family: 'Open Sans', sans-serif;
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*===========================*/

.page-header, .page-main, .page-footer {
    width: 1024px;
}

.page-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
}

.logo {
    display: block;
    height: 47px;
    background-image: url("../images/logo1.png");
    background-repeat: no-repeat;
}

.logo:hover {
    color: #F26522;
    background-image: url("../images/logo2.png")
}

.logo h1 {
    padding-left: 61px;
}

.logo-first-word, .logo-second-word {
    display: block;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
}

.logo-first-word {
    font-size: 29px;
    line-height: 29px;
}

.logo-second-word {
    font-size: 18px;
    line-height: 18px;
    transform: translateY(2px);
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}

.contacts .email:hover {
    color: #F26522;
}

.contacts .telephone:hover {
    color: #F26522;
}

/*===========================*/

.page-main {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-auto-rows: 280px;
    justify-content: space-between;
    grid-row-gap: 17px;
    margin-bottom: 49px;
}

.page-main__item {
    position: relative;
    display: block;
    font-style: normal;
    font-weight: 400;
}

.page-main__item:hover {
    color: #F26522;
}

.page-main__item .box {
    overflow: hidden;
    width: 300px;
    height: 220px;

    position: relative;

    box-sizing: border-box;
    border: 2px solid transparent;
    border-image: linear-gradient(white, black) 1;
}

.page-main__item .box img {
    transform: translate(calc(0px - (100% - 300px) / 2), 0);
}

.page-main__item .item-description {
    text-align: center;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.page-main__item .item-hover {
    position: absolute;
    bottom: -55px;
    left: 0;
    width: 100%;
    height: 55px;
    box-sizing: border-box;
    background-color: #F26522;
    color: #FFFFFF;

    display: flex;
    justify-content: space-between;
    padding: 7px 16px 12px;

    transition: 1.5s;
}

.page-main__item:hover .item-hover {
    bottom: 0;
    transition: 1.5s;
}

.item-hover div p {
    margin: 0;
}

.item-hover div:nth-child(1) p:nth-child(1) {
    /*  text "from" */
    font-size: 10px;
    line-height: 10px;
    margin-bottom: 8px;
}

.item-hover div:nth-child(1) p:nth-child(2) {
    /*  text "€50"  */
    font-size: 20px;
    line-height: 20px;
}

.item-hover div:nth-child(2) p {
    /*  text "View Details" */
    margin-top: 20px;
    font-size: 14px;
    line-height: 14px;
}

.item-hover div:nth-child(2) p::after {
    /*  text ">"    */
    content: ">";
    margin-left: 16px;
    line-height: 16px;
}

/*===========================*/

.copyright{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
}

/*===========================*/

