body {
    font-family: 'Open Sans', sans-serif;
}

.ul-disable {
    list-style: none;
    padding-left: 0;
}

.link {
    text-decoration: none;
    color: inherit;
}

.header__navbar {
    background-color: #313131;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
}

.logo img {
    padding: 22px 27px;
}

.logo p {
    margin: 0;
    padding: 22px 12px;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
}

.header__navbar nav {
    flex-basis: 750px;
}

.navbar__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
}

.navbar__list__item {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    flex-grow: 1;
    text-align: center;
    transition: 1s;
}

.navbar__list__item:hover {
    color: #14B9D5;
}

.navbar__list__item .link {
    display: block;
    padding: 27px 0;

}

.search {
    background-color: #000;
}

.search a {
    display: block;
    padding: 26px;
}

.header__main {
    height: 369px;
    background-image: url("../images/header-bg.jpeg");
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__main__wrapper {
    height: 100%;
    background-color: rgba(0, 10, 14, 0.3);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*align-items: center;*/
}

.main-heading {
    padding: 163px 0 0 0;
    margin: 0;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 37px;
    color: #FFFFFF;
    flex-basis: 100%;
    text-align: center;
}

.subscribe-now, .best-articles {
    display: block;
    box-sizing: border-box;
    height: 55px;
    width: 170px;
    color: #FFF;
    border-radius: 5px;
    padding: 16px 0;
    text-align: center;
    font-weight: 600;
}

.subscribe-now {
    background-color: #89CA62;
    margin-right: 10px;
}

.best-articles {
    background-color: #14B9D5;
    margin-left: 10px;
}

.most-popular {
    background-color: #F2F2F2;
}

.most-popular__heading {
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #18B4CF;
    margin: 0;
    text-align: center;
    padding: 49px 0 52px;
}

.most-popular .container {
    display: flex;
    align-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    height: 892px;
    width: 1170px;
    margin: 0 auto;
}

.most-popular__container__item {
    max-width: 370px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
    margin-bottom: 30px;
}

.most-popular__container__item .link {
    display: block;
}

.most-popular__container__item p {
    margin: -5px 0 0 0;
    padding: 22px 0;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    background-color: #FFFFFF;
    text-align: center;
}

.clients {
    height: 588px;
    background-image: url("../images/parallax-bg.jpeg");
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    grid-column-gap: 58px;

}

.clients__heading {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    grid-column: 1 / span 4;
    grid-row: 1;
    margin: 0;
}

.clients__heading:after {
    content: "";
    display: block;
    margin-top: 87px;
    margin-left: 204px;
    width: 60px;
    border-bottom: 3px solid #18B4CF;
}

.clients a {
    align-self: start;
}

.top-rated {
    background-color: #E5E5E5;
    display: grid;
}

.top-rated__heading {
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #18B4CF;
    grid-column: 1 / span 7;
    padding: 50px 0;
}

.top-rated img {
    width: 100%;
    height: auto;
    display: block;
}

.hot-news {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-column-gap: 35px;
    grid-row-gap: 44px;
}

.hot-news__heading {
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #18B4CF;
    margin: 0;
    padding: 50px 0;
    grid-area: 1 / 1 / 2 / 5;
}

.hot-news__item {
    background: #F9F7F7;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
}

.hot-news__item.item-3,
.hot-news__item.item-4,
.hot-news__item.item-5,
.hot-news__item.item-6 {
    max-width: 554px;
}

.hot-news__item.item-4,
.hot-news__item.item-6 {
    justify-self: end;
}

.hot-news__item img {
    display: block;
}

.hot-news__item h3 {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
}

.hot-news__item.item-1 h3,
.hot-news__item.item-8 h3 {
    padding: 41px 0 14px 0;
    text-align: right;
}

.hot-news__item.item-2 h3,
.hot-news__item.item-7 h3 {
    padding: 14px 0 11px 0;
    text-align: center;
}

.hot-news__item.item-3 h3,
.hot-news__item.item-4 h3,
.hot-news__item.item-5 h3,
.hot-news__item.item-6 h3 {
    padding: 12px 0 15px 0;
    text-align: right;
}

.hot-news__item p {
    text-align: right;
    margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
}

.hot-news__item.item-1 div,
.hot-news__item.item-8 div {
    padding: 0 24px;
}

.hot-news__item.item-3 div,
.hot-news__item.item-4 div,
.hot-news__item.item-5 div,
.hot-news__item.item-6 div {
    padding: 0 14px 3px 14px;
}


.hot-news__item.item-1 {
    grid-area: 2 / 1 / 3 / 4;
    display: grid;
    grid-auto-flow: column;
}

.hot-news__item.item-2 {
    grid-area: 2 / 4 / 3 / 5;
}

.hot-news__item.item-3 {
    grid-area: 3 / 1 / 4 / 3;
}

.hot-news__item.item-4 {
    grid-area: 3 / 3 / 4 / 5;
}

.hot-news__item.item-5 {
    grid-area: 4 / 1 / 5 / 3;
}

.hot-news__item.item-6 {
    grid-area: 4 / 3 / 5 / 5;
}

.hot-news__item.item-7 {
    grid-area: 5 / 1 / 6 / 2;
}

.hot-news__item.item-8 {
    grid-area: 5 / 2 / 6 / 5;
    display: grid;
    grid-auto-flow: column;
}

.footer-with-copyright {
    margin-top: 77px;
    height: 80px;
    width: 100%;
    background-color: #000;
}

.footer-with-copyright .wrapper {
    max-width: 1170px;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
}

.copyright {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
}


.go-to-top-button{
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    background-image: url("../images/up.png");
    cursor: pointer;
}

.hide-me{
    display: none;
}

.toggler{
    margin-left: 50px;
    color: mediumvioletred;
    font-size: 0.8em;
    vertical-align: bottom;
    cursor: pointer;
    }