.container {
  max-width: 1110px;
  margin: 0 auto;
}

%list-clear {
  padding-left: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

%link {
  text-decoration: none;
}

.page-header {
  & .container {
    display: flex;
    justify-content: space-between;
  }
}

.logo {
  display: flex;
  align-items: center;
}

.menu {
  list-style: none;
  display: flex;
  padding-left: 0;
  margin: 0;
}

.menu__item {
  margin-right: 50px;
  position: relative;

  &:last-child {
    margin-right: 0;
  }

  &--active::before {
    content: "";
    display: block;
    background-color: $accent-color-blue;
    width: 100%;
    height: 10px;
    top: 0;
    left: 0;
    position: absolute;
  }
}

.menu__link {
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: $menu-color;
  position: relative;
  text-decoration: none;

  display: block;
  padding: 32px 0;
}

.auth {
  @extend %list-clear;

  &__link {
    @extend %link;
    text-transform: uppercase;
    color: $accent-color-green;
    font-weight: 800;
    font-size: 13px;
    line-height: 16px;
    padding: 32px 0;
    display: block;
    position: relative;
  }


}

}


.auth__item:first-child {
  margin-right: 20px;

  &::after {
    content: "|";
    position: absolute;
    right: -8px;
    font-weight: 800;
    font-size: 13px;
  }
}

