html, body {
    margin: 0;
    padding: 0;
}

td {

}

.white-text {
    color: #FFFFFF;
}

.page-main {
    background-color: #3A4965;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*=============================================================*/

.table {
    text-transform: uppercase;
    font-family: 'Arimo', sans-serif;
    color: #484848;
    border-collapse: collapse;
    text-align: center;
}

/*=============================================================*/

.heading-first-row > td:nth-child(2n) {
    background-color: #E3E3E3;
}

.heading-first-row > td:nth-child(2n + 3) {
    background-color: #F2F2F2;
}

.tbody > tr > td:nth-child(2n) {
    background-color: #E3E3E3;
}

.tbody > tr > td:nth-child(2n + 3) {
    background-color: #F2F2F2;
}

.tbody > tr:nth-child(n+2) > td:nth-child(n+2) {
    border-top: 1px solid black;
}


/*=============================================================*/

.heading {
    height: 115px;
    box-sizing: border-box;
    border-bottom: 15px solid transparent;
}

.heading-first-row > .first-column {
    background-color: #FAFAFA;
    height: 100px;
    width: 190px;
    box-sizing: border-box;
    position: relative;
}

.choose-your {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
}

.pricing-plan {
    margin-top: 6px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}

.heading-first-row > .storage,
.heading-first-row > .bandwidth,
.heading-first-row > .email,
.heading-first-row > .support,
.heading-first-row > .products,
.heading-first-row > .users {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    height: 100px;
    width: 145px;
    position: relative;
    box-sizing: border-box;
    padding-top: 40px;
}

.heading-first-row > .storage:before,
.heading-first-row > .bandwidth:before,
.heading-first-row > .email:before,
.heading-first-row > .support:before,
.heading-first-row > .products:before,
.heading-first-row > .users:before {
    content: "";
    position: absolute;
    top: 26px;
    left: 50%;
    transform: translateX(-50%);
}

.heading-first-row > .storage:before {
    background-image: url("../images/01.svg");
    height: 21px;
    width: 24px;
}


.heading-first-row .bandwidth:before {
    background-image: url("../images/02.svg");
    height: 19px;
    width: 27px;
}

.heading-first-row .email:before {
    background-image: url("../images/03.svg");
    height: 19px;
    width: 24px;
}

.heading-first-row .support:before {
    background-image: url("../images/04.svg");
    height: 25px;
    width: 25px;
}

.heading-first-row .products:before {
    background-image: url("../images/05.svg");
    height: 23px;
    width: 23px;
}

.heading-first-row .users:before {
    background-image: url("../images/06.svg");
    height: 24px;
    width: 26px;
}

/*=============================================================*/

.tbody {
    background-color: #FAFAFA;
}

.tbody td {
    position: relative;
}

/*=============================================================*/

.tbody .first-column {
    position: relative;
    width: 198px;
    height: 164px;
}

.tbody .standard .first-column {
    background-color: #89C331;
}

.tbody .ultimate .first-column {
    background-color: #F04A56;
}

.tbody .premium .first-column {
    background-color: #20807C;
}

.first-column .cell-heading {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    position: absolute;
    top: 23px;
    left: 50%;
    transform: translateX(-50%);
}

.first-column .big-numbers {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    position: absolute;
    top: 55px;
    left: 18px;
}

.first-column .small-numbers {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    position: absolute;
    top: 56px;
    left: 60px;
}

.first-column .per-month {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    position: absolute;
    top: 68px;
    right: 23px;
}

.first-column .buy-now {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    position: absolute;
    bottom: 18px;
    left: 50%;
    transform: translateX(-50%);
    width: 147px;
    height: 44px;
    background-color: #414141;
    border-radius: 5px;
    box-shadow: inset 0 -5px #343434;
}

.first-column .buy-now:hover {
    background-color: #343434;
}

.first-column .buy-now {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

