html, body {
    margin: 0;
    padding: 0;
}

.white-text {
    color: #FFFFFF;
}

.page-main {
    background-color: #3A4965;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table {
    background-color: #FAFAFA;
    text-transform: uppercase;
    font-family: 'Arimo', sans-serif;
    color: #484848;
    border-collapse: collapse;
    text-align: center;
}

.choose-your {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
}

.pricing-plan {
    margin-top: 6px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
}

.heading-first-row .standard,
.heading-first-row .ultimate,
.heading-first-row .premium {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    height: 73px;
}

.heading-first-row .standard {
    background-color: #89C331;
}

.heading-first-row .ultimate {
    background-color: #F04A56;
}

.heading-first-row .premium {
    background-color: #20807C;
}

.heading-second-row .standard, .heading-second-row .ultimate, .heading-second-row .premium {
    height: 89px;
    position: relative;
}

.big-numbers {
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 28px;
    position: absolute;
    left: 35px;
    bottom: 25px;
}

.small-numbers {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    position: absolute;
    left: 134px;
    bottom: 51px;
}

.per-month {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #484848;
    position: absolute;
    left: 136px;
    bottom: 25px;
}

.first-column-cell {
    width: 313px;
    height: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #484848;
}

.first-column-cell .storage,
.first-column-cell .bandwidth,
.first-column-cell .email,
.first-column-cell .support,
.first-column-cell .products,
.first-column-cell .users {
    position: relative;
}

.first-column-cell .storage:before {
    content: "";
    display: block;
    position: absolute;
    background-image: url("../images/01.svg");
    height: 21px;
    width: 24px;
    left: -29px;
    bottom: 0;
}


.first-column-cell .bandwidth:before {
    content: "";
    display: block;
    position: absolute;
    background-image: url("../images/02.svg");
    height: 19px;
    width: 27px;
    left: -29px;
    bottom: 2px;
}

.first-column-cell .email:before {
    content: "";
    display: block;
    position: absolute;
    background-image: url("../images/03.svg");
    height: 19px;
    width: 24px;
    left: -29px;
    bottom: 2px;
}

.first-column-cell .support:before {
    content: "";
    display: block;
    position: absolute;
    background-image: url("../images/04.svg");
    height: 25px;
    width: 25px;
    left: -29px;
    bottom: 2px;
}

.first-column-cell .products:before {
    content: "";
    display: block;
    position: absolute;
    background-image: url("../images/05.svg");
    height: 23px;
    width: 23px;
    left: -29px;
    bottom: 1px;
}

.first-column-cell .users:before {
    content: "";
    display: block;
    position: absolute;
    background-image: url("../images/06.svg");
    height: 24px;
    width: 26px;
    left: -29px;
    bottom: 1px;
}

.standard-cell {
    height: 72px;
    width: 279px;
}

.triple-cell {
    height: 72px;
}

.tbody {
    background-color: #F2F2F2;
}

.tbody tr:nth-child(even) {
    background-color: #E3E3E3;
}

td {
    box-sizing: border-box;
}

.tbody .standard, .tbody .ultimate, .tbody .premium,
.thead .standard, .thead .ultimate, .thead .premium,
.heading-second-row .standard, .heading-second-row .ultimate, .heading-second-row .premium,
.tfoot .standard, .tfoot .ultimate, .tfoot .premium {
    border-left: 1px solid #D9D9D9;
}

.tfoot {
    height: 108px;
}

.tfoot .first-column-cell {
    background-color: #DDDDDD;
}

.button {
    margin: 0 auto;
    display: block;
    position: relative;
    width: 192px;
    height: 51px;
    border-radius: 5px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    box-sizing: border-box;
    padding-top: 18px;
}

.button:after {
    content: "";
    display: block;
    position: absolute;
    width: 192px;
    height: 9px;
    bottom: 0;
    border-radius: 0 0 5px 5px;
}

.first-column-cell .button {
    background-color: #484848;
}

.first-column-cell .button:after,
.first-column-cell .button:hover {
    background-color: #404040;
}

.standard .button {
    background-color: #89C331;
}

.standard .button:after,
.standard .button:hover {
    background-color: #79B027;
}

.ultimate .button {
    background-color: #F04A56;
}

.ultimate .button:after,
.ultimate .button:hover {
    background-color: #DF3A46;
}

.premium .button {
    background-color: #20807C;
}

.premium .button:after,
.premium .button:hover {
    background-color: #16736F;
}
