/*default font*/
.page-body {
    font-family: Roboto, sans-serif;
}

/*another one font*/
.open-sans-font {
    font-family: 'Open Sans', sans-serif;
}

/*some universal classes*/
.blue-text {
    color: #14AFCA;
}

.align-center {
    text-align: center;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/*some parallax stuff*/
.parallax {
    position: relative;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 1px;

}

.parallax__elem {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.parallax__elem_1 {
    transform: translateZ(0);
}

.parallax__elem_2 {
    transform: translateZ(-1px) scale(2.1);
}

.global-background {
    padding: 0;
    top: 0;
}

.page-main {
    background-image: url("../images/template_bg.png");
}

.bg {
    background-size: cover;
}

.bg1 {
    background-image: url("../images/bg1.jpg");
    margin-top: 600px;
    height: 650px;
}

.bg2 {
    background-image: url("../images/bg2.jpg");
    height: 1000px;
}

.bg3 {
    background-image: url("../images/bg3.jpg");
    height: 1000px;

}


/* and here we go! */

.navbar {
    margin-top: 25px;
    width: 100%;
    height: 110px;
    background-color: #FFFFFF;
}

.navbar > .container {
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*align-items: center;*/
}

.company-logo {
    font-weight: 300;
    font-size: 36px;
    line-height: 36px;
    color: #424F57;
    text-transform: capitalize;
    padding-top: 40px;
}

.company-logo:hover {
    color: #14AFCA;
}

.company-logo > .uppercase {
    font-weight: 900;

}

.menu-list {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.menu-item {
}

.menu-item > .link {
    padding: 0 25px;
    height: 100%;
    display: flex;
    align-items: center;
}

.menu-item > .link:hover {
    color: #14AFCA;
}

.slogan {
    font-family: FuturaBT, sans-serif;
    font-size: 52px;
    line-height: 75px;
    color: #FFFFFF;
    margin: 150px 0 0 0;
}

.text-block {
    background-color: #FFFFFF;
    margin-top: 200px;
    padding: 50px 0;
    position: relative;
    z-index: 10;
}

.triangle-on-top:before {
    content: "";
    display: block;
    width: 55vw;
    height: 20vh;
    background-color: #FFFFFF;
    transform: rotate(6deg);
    position: absolute;
    top: -6vh;
    left: -4vw;
    z-index: -10;
}

.triangle-on-top:after {
    content: "";
    display: block;
    width: 55vw;
    height: 20vh;
    background-color: #FFFFFF;
    transform: rotate(-6deg);
    position: absolute;
    top: -6vh;
    right: -4vw;
    z-index: -10;
}

.block-heading {
    font-weight: 700;
    font-size: 60px;
    line-height: 40px;
    margin: 0 0 25px 0;
}

.block-heading-text {
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
    margin: 0 0 25px 0;
    color: #424F57;
}

.block-main-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin: 0 0 25px 0;
    color: #424F57;
}
