body {
  font: 100% $font-stack;
  color: $primary-color;

  @include mq(1200px, false) {
    background-color: #3CB878;
  }
}

.box {
  @include transform(rotate(30deg));
}

a {
  text-decoration: none;
}

%link-reset {
  text-decoration: none;
}

//Унаследовали стили с другого элемента
.link-1 {
  @extend a;
}

// Используем "призрачный селектор" и наследуем стили из него
.link-2 {
  @extend %link-reset;
}

.link-3 {
  @extend %link-reset;
}

.link-4 {
  @extend %link-reset;
}

.list{
  list-style: none;
  padding-left: 0;
  margin: 0;

  display: flex;
  flex-wrap: wrap;
}

.list__item{
  padding: 30px;
  font-size: 30px;
  border: 3px solid #000000;
  margin: 0 auto 40px auto;
  flex-basis: calc((100% - 40px) / 3);
  text-align: center;

  @media (max-width: 1024px) {
    flex-basis: calc((100% - 40px) / 2);
  }

  @media (max-width: 576px) {
    flex-basis: 100%;
  }

}