.page__footer {
  background-color: #000000;
  padding-top: 66px;
  padding-bottom: 70px;
}

.footer__touch {
  @include text(16px, 700, 1.37em);
  @media (max-width:450px) {
    @include text(14px, 700, 1.37em);
  }
  text-transform: uppercase;
  color: #FEFEFE;
  position: relative;
  display: inline-block;
  padding: 0 10px;
  margin-top: 0;
  margin-bottom: 22px;
  margin-left: 50%;
  transform: translateX(calc(-50% - 10px));

  &::before {
    content: "-";
    display: block;
    position: absolute;
    @include text(16px, 700, 1.37em);
    @media (max-width:450px) {
      @include text(14px, 700, 1.37em);
    }
      color: #FEFEFE;
    left: 0;
    bottom: 2px;
  }

  &::after {
    content: "-";
    display: block;
    position: absolute;
    @include text(16px, 700, 1.37em);
    @media (max-width:450px) {
      @include text(14px, 700, 1.37em);
    }
      color: #FEFEFE;
    right: 0;
    bottom: 2px;
  }
}

.footer__text {
  @include text(16px, 400, 1.75em);
  @media (max-width:450px) {
    @include text(12px, 400, 1.75em);
  }
    color: #B9B9B9;
  width: 57%;
  max-width: 684px;
  text-align: center;
  margin: 0 auto 35px auto;
}

.footer__social-icons{
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}

.social-icons__link{
  @extend %link;
  margin: 0 5px;
}

.footer__contacts{
  @include text(16px, 400, 1.62em);
  @media (max-width:450px) {
    @include text(14px, 400, 1.62em);
  }
    text-align: center;
  color: #B9B9B9;
  @extend %reset-margin;
}