.header__burger-button {
  background-color: #000000;
  display: block;
  width: 44px;
  height: 37px;
  margin: 23px 0 23px auto;
  position: relative;

  @media (max-width: 768px) {
    display: block;
  }
  @media (min-width: 769px) {
    display: none
  }
}

.burger-button__part {
  display: block;
  position: absolute;
  background-color: #FFFFFF;
  width: 17px;
  height: 2px;
  left: 13px;
  transition: 1.2s;
}

.burger-button__part--fold {
  &.burger-button__part--one {
    margin-top: 13px;
  }

  &.burger-button__part--two {
    margin-top: 17px;
  }

  &.burger-button__part--three {
    margin-top: 21px;
  }
}

.burger-button__part--unfold {
  &.burger-button__part--one {
    margin-top: 19px;
    transform: rotate(45deg);
  }

  &.burger-button__part--two {
    margin-top: 19px;
    transform: rotate(45deg);
  }

  &.burger-button__part--three {
    margin-top: 19px;
    transform: rotate(-45deg);
  }
}

.header__menu {
  width: 100%;
  @media (max-width: 768px) {
    display: none
  }
  @media (min-width: 769px) {
    display: block !important;
  }
}

.header__menu--unfold {
  @media (max-width: 768px) {
    display: block !important;
  }
}

.menu__list {
  width: 100%;
}

.list {
  @extend %reset-list-style;
  display: flex;
  justify-content: space-around;
  @media (max-width: 768px) {
    flex-direction: column;
    width: 56%;
    margin-left: auto;
    margin-right: 0;
    background-color: #f5f5f5;
    position: absolute;
    top: 60px;
    right: 15px;
  }
}

.menu__item {
  width: calc((100%) / 7);
  text-align: center;
  text-transform: uppercase;
  @include text(11px, 400, 2em);
  letter-spacing: 1.1px;
  color: #4E4E4E;
  white-space: nowrap;
  @media (max-width: 768px) {
    width: 100%;
    text-align: left;
    &:hover {
      background-color: #e5e5e5;
    }
  }
}

.menu__link {
  display: block;
  padding-top: 34px;
  padding-bottom: 40px;
  @extend %link;

  &:hover {
    color: #57A4A4;
  }

  @media (max-width: 768px) {
    width: calc(100% - 12px);
    padding: 5px 0 5px 12px;
  }
}

.page__banner {
  margin-bottom: 20px;
}

.banner__image {
  width: 100%;

  & source {
    width: 100%;
  }

  & img {
    width: 100%;
  }
}