.main__instagram {
  background-color: rgb(247, 247, 247);
  padding-top: 1px;
  padding-bottom: 49px;

  @media (max-width:768px) {
    background-color: transparent;
  }
}

.instagram__heading {
  @extend %section__heading;
  display: inline-block;
  @media (max-width:450px) {
    margin-top: 37px;
  }
  }

.instagram__side-heading {
  @include text(13px, 700, 1.37em);

  margin-top: 47px;
  margin-bottom: 24px;
  text-transform: uppercase;
  color: #4E4E4E;
  position: relative;
  padding-right: 10px;
  float: right;

  & a {
    @extend %link;
  }

  &::after {
    content: "-";
    display: block;
    position: absolute;
    @include text(13px, 700, 1.37em);
    color: #4E4E4E;
    right: 0;
    bottom: 2px;
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.instagram__content-block {
  display: flex;
  justify-content: space-between;

  & a {
    @extend %link;
    max-width: 25%;
    @media (max-width: 768px) {
      max-width: 33%;
    }
    @media (max-width: 450px) {
      max-width: 100%;
      width: 100%;
    }
  }

  & img {
    width: 100%;
  }

  @media (max-width: 768px) {
    & a:nth-child(4) {
      display: none;
    }
  }
  @media (max-width: 450px) {
    & a:nth-child(3) {
      display: none;
    }
    & a:nth-child(2) {
      display: none;
    }
  }
}