.recent-posts__heading {
  @extend %section__heading;
}

.content-list {
  @extend %reset-list-style;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: 768px) {
    flex-wrap: nowrap;
    flex-direction: column;
  }
}

.recent-posts__content-item {
  display: flex;
  margin-bottom: 32px;
  width: 48.75%;
  max-width: 585px;
  @media (max-width: 768px) {
    width: 100%;
  }

  @media (max-width: 450px) {
    width: 100%;
    flex-direction: column;
  }
}

.content-item__link {
  @extend %link;
}

.content-item__image {
  width: 13.33vw;
  height: 11.67vw;
  max-width: 160px;
  max-height: 140px;
  @media (max-width: 768px) {
    width: 26.67vw;
    height: 23.33vw;
  }
  @media (max-width: 450px) {
    width: 50vw;
    height: 43.75vw;
  }
}

.content-item__block {
  padding: 0 20px;
  @media (max-width: 450px) {
    padding: 0;
    margin-top: 10px;
  }
}

.content-item__heading {
  @include text(16px, 700, 1em);
  @media (max-width: 450px) {
    @include text(14px, 700, 1em);
  }
    color: #4E4E4E;
  text-transform: uppercase;
  @extend %reset-margin;
}

.content-item__comments {
  @include text(12px, 400, 1em);
  @media (max-width: 450px) {
    @include text(11px, 400, 1em);
  }
  color: #7C7C7C;
  margin: 12px 0;
}

.content-item__description {
  @include text(14px, 400, 1.86em);
  color: #5C5C5C;

  @media (max-width: 450px) {
    display: none;
  }
}