.wrapper_dark {
    background: linear-gradient(#607d8bde, #9e9e9e12), url(../images/bcg.png);
    background-size: cover;
}

.page-main_dark {
    background-color: #607d8b;
}

.text-input_dark {
    background-color: #313a3f;
}